body {
    background-color: #0d1117;
    color: #c9d1d9;
}

/* Navigation Bar */
.navbar-brand{
    color: #414141;
}

.nav-link,
.navbar-toggler {
    color: #6c6c6c;
}

.navbar-brand:hover{
    transform: scale(1.15);
}

.navbar-nav{
    gap: 20px;
}

.navbar-nav .nav-link:hover{
    color: white;
    transform: scale(1.15);
}

.btn-subscribe {
    background-color: #0d6efd;
    color: #fff;
}

/* Carousel Slider */
.hero-section .carousel-item {
    position: relative;
}

.hero-section .carousel-item img {
    filter: brightness(0.5); 
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    content: "";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.carousel-caption h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
}

.carousel-caption p {
    font-size: 18px;
    color: #e5e5e5;
}

.carousel-indicators button {
    color: #ffffff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #ffffff;
    border-radius: 20%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.5;
}

/* Wellness */
.section-title {
    color: #5ea071;
    font-weight: bold;
    font-size: 45px;
}

.section-text {
    color: #6c757d;
    font-size: 18px;
}

.section-container {
    margin-bottom: 2rem;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.section-image {
    border-radius: 8px;
}

/* Articles Section */
.articles {
    padding: 50px 0;
    background-color: #0d1117;
}

.articles h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #616161;
}

.card-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

.card-container h3{
    color: #616161;
}

.card {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card p {
    color: #666;
    margin-bottom: 1rem;
}

.read-more {
    color: #ffa500;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    color: #333;
}

/* Subcription popup */
/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #1b1f24;
    color: #8b949e;
    padding: 30px 0;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

footer .social-links a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer .social-links a:hover {
    color: #ffa500;
}

footer .social-links {
    justify-content: center;
}

footer .contact-footer a{
    justify-content: center;
    color: white;
    text-decoration: none;
}

/* About HTML */
#our-mission,
#our-story{
    padding: 20px;
    background-color: #201f1f;
    border: 1px solid white;
    border-radius: 10px;
}

/* .about .mission:hover{
    transform: scale(1.05);
}

.about .story:hover {
    transform: scale(1.05);
} */

#meet-the-team {
    margin-bottom: 2rem;
}

#meet-the-team:hover{
    transform: scale(1.1);
}

.about{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#meet-the-team img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
